body {
    background-color: lightgray;
}


a {
    color: black;
    text-decoration: none;
}

button {
    background-color: snow;
}

.commentHolder {
    height: 150px;
    overflow: scroll;
}

.wrapper {
    margin: auto;
    width: 80%;
    background-color: darkolivegreen;
}

.article {
    background-color: mintcream;
    
}

.center {
    margin: auto;
}